{% extends "myapp/base.html" %}

{% block title %}Progress Tracking{% endblock %}

{% block content %}
    <h2 class="text-center">Progress Tracking</h2>
    <canvas id="weightChart"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('weightChart').getContext('2d');
        const weightChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ dates|safe }},
                datasets: [{
                    label: 'Weight',
                    data: {{ weights|safe }},
                }]
            }
        });
    </script>
{% endblock %}

